

[x] It should have a function that picks 'rock' 'paper' 'scissors' at random and returns the value

[X] It should have a playRound function that asks for user input and plays it against the computer choice
        [X] The function should have two parameters (userSelection, computerSelection)
        [X] The function should prompt user for input
        [X] The input can only be 'rock' 'paper' 'scissors' and should be case insensitive
        [X] The function should compare userSelection and computerSelection and return a string declaring the winner or loser



[x] It should have a function that keeps score, first to 5 and declares the winner or loser
        [x] it should call the playRound() function.
        [x] if score is <= 5 keep playing
        [x] it should declare the winner and/or loser along with the score when it reaches 5 

