body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 190, 114);
    width: 100%;
    height: auto;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-right: 18px solid rgb(7, 95, 83);
    border-bottom: 20px solid rgb(13, 102, 90);
    border-left: 5px solid rgb(19, 122, 109);;
    background-color: rgb(51, 139, 128);
    padding: 3em;
    border-radius: 25px;
    border-end-end-radius: 65px;
    border-end-start-radius: 60px;
    border-start-end-radius: 35px;
    border-start-start-radius: 30px;
    gap: 2em;
    margin: 2em;
    max-width: 360px;
    max-height: auto;
    box-shadow: 33px 24px 40px 1px rgb(7, 65, 57);

 
}


#div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.btn {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    max-width: 6rem;
    max-height: 6rem;
    padding: 8%;
    font-size: 0.7rem;
    background-color: rgb(52, 96, 146);
    border-radius: 4px;
    box-shadow: 2px 5px 1px rgb(55, 60, 88);
    color: rgb(218, 146, 12);
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    margin-top: auto;
    border: 1px solid rgb(218, 146, 12);
    
} 

.btn:hover {
    background-color: rgb(62, 88, 136);
    box-shadow: -2px -2px rgb(55, 60, 88); 
    font-size: 0.68rem;

}


#screen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: solid 3px rgb(13, 88, 78);
    border-left: solid 5px rgb(13, 88, 78);
    border-top: solid 4px rgb(13, 88, 78);
    border-radius: 8px;
    background: aquamarine;
    background: linear-gradient(75deg, rgb(63, 229, 251) 0%, rgb(183, 232, 235) 30%, rgb(154, 202, 224) 66%, rgb(70, 150, 196) 90%);
    max-width: 400px;
    min-width: 350px;
    line-height: 1em;
    box-shadow: -1px 0px 25px 15px rgb(71, 189, 183);
   
}

#display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    padding: 2rem;
    gap: 1.5em;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 0.7em;
    

}

.lastChoice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#rules {
    display: flex;
    margin-left: auto;
    margin-top: 50px;
    align-items: center;
    font-size: 0.7em;
    gap: 1em;
 
}

.rulesDescription {
    display: flex;
    height: auto;
    width: fit-content;
    margin: 35px;
    border-radius: 5px;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 0.8em;
    padding: 1em;
    background-color: rgba(106, 202, 209, 0.582);
    box-shadow: 5px 6px 15px 5px rgb(7, 65, 57);
    line-height: 1.3em;
}

.gameOver {
    font-weight: bold;

}

.reloadBtn {
   background-color: rgb(87, 12, 12);
   font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    color: rgb(218, 146, 12);
    font-size: 0.9em;
    padding: 0.8em;
    border-color: rgb(218, 146, 12);
    box-shadow: 2px 3px 1px rgb(55, 60, 88);
    border-radius: 2px;
    
}

.rulesBtn {
    background-color: rgb(87, 12, 12);
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    color: rgb(218, 146, 12);
    font-size: 0.9em;
    padding: 0.8em;
    border-color: rgb(218, 146, 12);
    box-shadow: 2px 3px 1px rgb(55, 60, 88);
    border-radius: 2px;
}

.reloadBtn:hover {
    box-shadow: -2px -3px 1px rgb(55, 60, 88);
}


.rulesBtn:hover {
    box-shadow: -2px -3px 1px rgb(55, 60, 88);
}